main {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
  background-image: url('https://www.stockvault.net/data/2019/03/09/261906/preview16.jpg');
  background-size: cover;
}
form {
  display: flex;
  justify-content: center;

}
#search-type {
  display: flex;
  justify-content: center;
}

button {
  margin-left: 0.5em;
}

select {
  height: 4vh;
  margin-left: 1em;
  margin-top: 0.5em;
}

/* #weather-details-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

h1{
  display: flex;
  justify-content: center;
}
#weather-details-box {
  display: flex;
  flex-direction: column;
  width: 60vh;
  /* border-width: 1px;
  border-style: solid; */
  background-color: rgba(3, 4, 87, 0.516);
  align-items: center;
}

#weather-text {
  text-align: justify;
}

